<a href="https://colab.research.google.com/github/jungsh210/PB11/blob/main/CH4-ch4_code01_PB11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01.ipynb
## PB11
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의 
    - 단축 모드로 함수를 정의할 때 사용

## ch4_01_function.py

In [4]:
print("함수란 무엇인가?")
print("--> " , "입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어 놓는 것")

함수란 무엇인가?
-->  입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어 놓는 것

In [5]:
print("함수를 사용하는 이유는 무엇일까?")
print("--> " , "반복되는 부분을 함수로 전환하고, 코딩을 모듈화")

함수를 사용하는 이유는 무엇일까?
-->  반복되는 부분을 함수로 전환하고, 코딩을 모듈화

#### 파이썬 함수의 구조
```
# 함수는 def라는 키워드로 만듭니다.
def 함수명(매개변수):   
    <수행할 문장1>
    <수행할 문장2>
    ...
```

In [5]:
 # add() 함수를 정의
def add(a):       
    print(a)

In [7]:
add(100) , add("PB11")      # 위에서 add 함수를 정의했기 때문에 add(100)은 100을 출력하고, add(PB11)은 PB11을 출력합니다
                            # add(100)과 add(PB11)을 , 로 구분해서 return이 없는 상태로 출력했기 때문에 (None, None)이 출력됩니다.

100
PB11

(None, None)

In [9]:
add(100)                   # 줄을 바꿔서 출력하면 제대로 출력이 됩니다.
add("PB11")

100
PB11

In [10]:
# add() 함수를 정의
def add(a, b): 
    return a + b

#### add() 함수를 사용

In [11]:
# add() 함수를 사용
# 매개변수에 들어가는 값을 "인수"라고 한다.

a = 3    
b = 4
c = add(a,b)     # add() 함수에 매개변수를 넣어서 실행을 시키면 a=3과 b=4가 더해져셔 출력됩니다.
print(c)

d = add(3,4)      # add() 함수에 인수를 직접 넣어서 실행시켜도 출력이 됩니다.
print(d)

7
7

In [1]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

[1, 2, 3, 4, 5, 6]

In [5]:
def add(x,y):
  return x+y

In [6]:
x = [1, 2, 3]
y = [4, 5, 6]

z = add(x,y)
print(z)

[1, 2, 3, 4, 5, 6]

In [8]:
w = add("Hello ", "Python!")     # 첫번째 인수에는 Hello 문자열, 두번째 인수에는 Python 문자열이 들어있습니다.
print(w)

Hello Python!

### 매개변수와 인수

###### 매개변수
- 함수에 입력으로 전달된 값을 받는 변수

###### 인수
- 함수를 호출할 때 전달하는 입력값을 의미

##### add() 함수에서의 매개변수와 인수
```
def add(a,b): 
    return a+b

print(add(a,b))  # a,b는 매개변수
print(add(3,4))  # 3,4는 인수
```

In [10]:
def add(a,b):
  return a+b

a = 3
b = 4

In [13]:
print(add(a,b))
print(add(3,4))
print(add(10,50))     # add() 함수를 이용하는 또 다른 방법은 인수값을 직접 설정하여 add() 함수를 사용할 수 있습니다.

7
7
60

#### 함수의 결과값(return)

###### 입력값과 결과값에 따른 함수의 형태
###### 입력값 ---> 함수 ----> 결과값
- 일반적인 함수
- 입력값과 결과값이 있는 함수

```
def 함수이름(매개변수):
    <수행할 문장>
    ...
    retrun 결과값
```

In [16]:
# add2() 함수 정의
# add2() 함수는 위의 add() 함수와 비슷해 보이지만 다른 주소에서 만들어진 함수 객체이다.

def add2(a, b): 
    result = a + b   # a+b를 add2() 함수 내부에 정의되는 result라는 자동변수에 넣어줍니다.  
    return result

#### 입력값과 결괏값이 있는 함수의 사용법
- 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2,...)

In [20]:
a = add2(3, 4)
print(a)

7

##### 입력값이 없는 함수

```
def 함수이름(매개변수):
    return <출력값>
```

In [18]:
def say():      # say() 함수에 매개변수를 아무것도 넣지 않고 출력하면 'HI'가 출력이 됩니다.
    return 'Hi'

#### 입력값이 없는 함수의 사용법
- 결과값을 받을 변수 = 함수 이름()

In [21]:
a = say()
print(a)

Hi

#### 결과값이 없는 함수

In [25]:
# 결괏값이 없는 함수
# add3() 함수 정의
# 매개 변수 = local 변수(지역변수)

def add3(a, b):     # a,b는 add3() 함수 안에 존재하는 local 변수 이고, local 변수는 외부에서 접근이 불가합니다. 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

#### 결과값이 없는 함수의 사용법
- 함수 이름(입력인수1, 입력인수2, ...)

In [24]:
add3(3, 4)

3, 4의 합은 7입니다.

In [30]:
# 다음 결과는 무엇인가?
# "3,4의 합은 7입니다."와 "None"이 출력이 됩니다. "None"이 출력이 되는 이유는 return(결과값)이 없기 때문에 반환할 값이 없습니다. 그러므로 "None"이 출력이 됩니다.

a = add3(3, 4)
print(a)
print("->", "None이 출력이 되는 이유는 return(결과값)이 없기 때문에 반환할 값이 없습니다. 그러므로 None이 출력이 됩니다.")

3, 4의 합은 7입니다.
None
-> None이 출력이 되는 이유는 return(결과값)이 없기 때문에 반환할 값이 없습니다. 그러므로 None이 출력이 됩니다.

#### 입력값도 결과값도 없는 함수
```
def 함수 이름():
    print("출력값")
```

In [31]:
# 입력값도 결괏값도 없는 함수
# say2() 함수 정의

def say2(): 
    print('Hi')

#### 입력값도 결과값도 없는 함수의 사용법
- 함수이름()

In [33]:
# say2()를 출력하면 "Hi"가 출력됩니다.
say2()

Hi

#### 매개변수의 값을 지정하여 호출하기

In [35]:
# add4() 함수 정의

def add4(a, b):
    return a+b

In [39]:
# 매개변수 a에는 3을, b에는 7을 지정합니다.
result = add4(a=3, b=7) 
print(result)

10

In [40]:
# 매개변수의 순서에 상관없이 값을 지정해주는 것이 가능합니다.
# 매개 변수 b에는 5를, a에는 3을 지정합니다.

result2 = add4(b=5, a=3)  
print(result2)

8

In [42]:
result3 = add4(a=3, 7)      
print(result3)
 # "매개변수=인수" 키워드는 타입은 뒤로 가야 하기 때문에 에러가 뜹니다. 
 # SyntaxError: positional argument follows keyword argument

SyntaxError: ignored

In [44]:
result3 = add4(7, a=3)      
print(result3)
# "매개변수=인수" 키워드를 뒤로 보내서 다시 실행시켰지만 7이 a자리에 있기 때문에 b로 처리되지 않고 a로 처리가 되면서 a 값이 두 개가 되므로 에러가 뜹니다.
# TypeError: add4() got multiple values for argument 'a'

TypeError: ignored

In [45]:
result3 = add4(b=7, a=3)      
print(result3)
# 매개변수에 각각의 값을 지정을 해줘야 실행이 됩니다.

10

#### 입력값이 몇 개가 될지 모를 때는 어떻게 할까?
```
def 함수 이름(*매개변수):
    <수행할 문장>
    ...
```

#### *args
- arg:argument
- *가 중요!!! : *는 여러 개의 매개변수 값들을 담을 수 있습니다.

In [47]:
# add_many() 함수 정의  # 주위! 함수를 시작하는 알파벳은 소문자로 써야 합니다.

def add_many(*args):      # *args: 여러 개의 매개변수의 값이 임의로 지정이 될 수 있습니다.
    result = 0            # result = 0 : result 값을 초기화
    for i in args: 
        result = result + i 
    return result

In [49]:
add_many(1, 2, 3)
# 위에서 add_many가 정의된 대로 실행 후 result 값 출력합니다.

6

In [50]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)
# 위에서 add_many가 정의된 대로 실행 후 result 값 출력합니다.

45

In [51]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)
# 위에서 add_many가 정의된 대로 실행 후 result 값 출력합니다.

55

#### 여러 개의 입력을 처리하는 함수(*args)

In [53]:
# add_mul() 함수를 정의
# add_mul() : 더하고 곱하는 함수

def add_mul(choice, *args):             # choice : 일반적인 매개변수 , *args: 여러 개의 매개변수의 값을 임의로 지정하는 매개변수
    if choice == "add":                 # choice에 "add"라는 문자열이 들어가면 뒤에 있는 *args에 있는 매개변수의 값들을 다 더해줍니다.
        result = 0                      # result = 0 : result를 초기화
        for i in args:                
            result = result + i 
    elif choice == "mul":               # choice에 "mul"이라는 문자열이 들어가면 뒤에 있는 *args에 있는 매개변수의 값들을 다 곱해줍니다.
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [58]:
# *args를 다르게 바꿀 수도 있습니다. (*args -> *z)
def add_mul(choice, *z):             
    if choice == "add":                 
        result = 0                      
        for i in z:                
            result = result + i 
    elif choice == "mul":               
        result = 1 
        for i in z: 
            result = result * i 
    return result

In [54]:
# add
result = add_mul("add", 1,2,3,4,5)      # choice에 "add" 문자열이 들어있기 때문에 뒤에 *args에 있는 값 1, 2, 3, 4, 5 를 더해줍니다.
print(result)

15

In [56]:
# multiply
result = add_mul("mul", 1,2,3,4,5)       # choice에 "mul" 문자열이 들어있기 때문에 뒤에 *args에 있는 값 1, 2, 3, 4, 5 를 곱해줍니다.
print(result)

120

#### 키워드 파라미터 **kwargs
     
- 키워드 파라미터란?
  - key=value 구조로 들어가는 것을 말합니다.
  - 딕셔너리 구조가 됩니다.

- **가 두 개 있으면 
  - 여러 개의 "매개변수=값" 형태로 계속 정의할 수 있습니다.

In [57]:
# print_kwargs() 함수 지정

def print_kwargs(**kwargs):
    print(kwargs)

#### print_kwargs() 함수는 매개변수 kwargs를 출력하는 함수
###### **kwarg처럼 매개변수 앞에 *(x2)를 붙이면 매개변수 kwargs는 딕셔너리가 되고 모든 key = value 형태의 결과값이 그 딕셔너리에 저장이 됩니다.

In [60]:
print_kwargs(a=1)   # key = a, value = 1

print_kwargs(name='foo', age=3)  # key1 = name, value1 = 'foo', key2 = age, value2

{'a': 1}
{'name': 'foo', 'age': 3}

####  함수의 결과값은 언제나 하나

In [61]:
# add_and_mul() 함수 정의
# add_and_mul() 함수: 매개변수를 더한 값과 곱한 값을 한 묷음으로 나타냅니다.
# 1, 2 == (1, 2) -> ,로 구분된 데이터를 나열하면 튜플로 쌓여진 데이터로 처리가 됩니다. 그러므로 a+b,a*b는 (a+b, a*b)로 처리가 됩니다.

def add_and_mul(a,b): 
    return a+b, a*b

In [63]:
# add_and_mul() 사용 1.
result = add_and_mul(3,4)   # (3+4, 3*4) -> (7,12)로 출력이 됩니다.
print(result)

(7, 12)

In [66]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)    # result1 = 3+4, result2 = 3*4 값이 들어갑니다.
result1, result2

(7, 12)

#### 잘못된 함수 사용

In [67]:
# add_and_mul2() 함수 정의

def add_and_mul2(a,b): 
    return a+b 
    return a*b      # return은 함수의 끝을 나타내기 때문에 첫번째 return 값을 실행시키는 것으로 끝이나므로 두번째 return 값은 출력이 안됩니다.

In [68]:
result = add_and_mul2(2, 3)
print(result)
# 위에서 첫번째 return 값인 a+b를 실행시키는 것으로 끝났기 때문에 2+3의 값인 5만 출력이 됩니다.

5

#### return의 용도: 함수 실행 종료

In [69]:
# say_nick() 함수 정의

def say_nick(nick): 
    if nick == "바보":   # nick 값에 "바보"가 들어가면 함수가 그냥 끝납니다.(return 할 값이 없기 때문에)
        return           # return 뒤에 아무것도 없다면 반환할 값이 없다는 것입니다.
    print("나의 별명은 %s 입니다." % nick)

In [71]:
say_nick("홍길동")  # nick 값에 "바보"가 아닌 "홍길동"이 들어있기 때문에 출력하는 값이 "나의 별명은 홍길동 입니다."가 출력이 됩니다.

나의 별명은 홍길동 입니다.

In [72]:
say_nick("바보")   # nick 값에 "바보"가 들어있기 때문에 출력하는 값이 없이 그냥 함수가 끝납니다.

#### 매개변수에 초기값 미리 설정하기

In [74]:
# say_myself() 함수 정의

def say_myself(name, old, man=True):        # 이름은 name에 넣고, 나이는 old에 넣습니다. 그리고 man은 True로 지정을 해줍니다.
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")   # True면 남자입니다.를 출력합니다.
    else: 
        print("여자입니다.")   # False이면 여자입니다.를 출력합니다.

In [75]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [76]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [77]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [79]:
say_myself("정수현", 21, False)

나의 이름은 정수현 입니다.
나이는 21살입니다.
여자입니다.

In [78]:
def say_myself2(name, man=True, old):            # (name, man=True, old) -> (name, old, man=True)로 바꿔줘야 합니다. 
                                                 # SyntaxError: non-default argument follows default argument
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")
    
# 초기값을 설정해 놓은 매개변수 뒤에 초기값을 설정해 놓지 않은 매개변수는 사용할 수 없습니다.
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓아야 합니다.
# 키워드형식의 매개변수는 항상 뒤에 지정을 해줘야 합니다.

SyntaxError: ignored

#### 함수 안에서 선언한 변수의 효력 범위
- scope of a variable
- 전역 변수
- 지역 변수, 자동 변수

In [81]:
# vartest.py
# 전역 변수 a 와 지역변수(매개변수) a 는 이름은 같아도 완전히 다른 변수입니다.

a = 1             # 전역 변수 : 함수 밖에서 정의된 변수입니다. 
def vartest(a):   # 지역 변수(매개변수) : 함수 안에서만 존재하는 변수입니다. 
    a = a +1

vartest(a)        # vartest(a)에 있는 a는 전역 변수 a 입니다.(지역 변수(매개변수) a는 함수 안에서만 존재하기 때문에 함수 밖에서는 존재하지 않습니다.)
print(a)

# 지역 변수(매개변수) a의 값만 2로 변하고 전역 변수 a의 값은 그대로 1이기 때문에 함수 안에서만 존재하는 지역 변수(매개변수) a의 값이 아닌 함수 밖에서 정의된 전역 변수 a 값이 출력이 됩니다.

1

In [82]:
a = 1
def vartest(a):
  a = a+1

vartest(1)      # vartest(1)을 하면 a에는 1이 들어가게 됩니다. 하지만 여전히 위와 같은 이유로 a 를 출력하면 지역 변수(매개변수) a가 아닌 전역 변수 a 값이 출력이 됩니다.
print(a)

1

In [84]:
# 각각의 변수에 print() 함수를 넣어서 지역 변수(매개변수) 와 전역 변수 둘 다 출력되도록 할 수 있습니다.

a = 1
def vartest(a):
  a = a+1
  print("지역 변수 a = ", a)

vartest(1)     
print("전역 변수 a = ", a)

지역 변수 a =  2
전역 변수 a =  1

In [91]:
# vartest_error.py
def vartest2(zz):
    zz = zz + 1

vartest2(3)
print(zz)      # 함수 밖에서 정의된 전역 변수가 없기 때문에 에러가 뜹니다.

NameError: ignored

#### 함수 안에서 함수 밖의 변수를 변경하는 방법
- return 사용
- global 변수 사용

##### 1. return 사용하기

In [92]:
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a        # return은 값을 반환해 줘야 하는 특성으로 인해 a 의 값을 출력하면 전역 변수 a의 값인 1이 아닌 지역 변수(매개변수) a의 값인 2가 출력이 됩니다.

a = vartest3(a) 
print(a)

2

##### 2. global 명령어 사용하기

In [94]:
# 2. global 명령어 사용하기(가능한 사용하지 않아야 합니다.)
a = 1 
def vartest4(): 
    global a        # global 명령어: 함수 밖에서 정의된 전역 변수를 함수 안으로 가져와서 쓸 수 있습니다. 
    a = a+1

vartest4() 
print(a)

2

### lambda 함수 
- 이름 없는 함수를 정의
- lambda는 함수를 사용할 때 사용하는 예약어로 def와 동일한 역할을 합니다.
- 보통 함수를 한줄로 간결하게 만들 때 사용합니다.

### lambda 함수 사용법
- lambda 매개변수1, 매개변수2, .... : 매개변수를 이용한 표현식

##### lambda를 이용한 add 함수

In [96]:
add = lambda a, b: a+b   # 매개변수는 a,b 이고, return 값은 a+b입니다.

result = add(3, 4)
print(result)      # lambda를 이용해서 만든 함수는 return 명령어가 없어도 결과값이 나옵니다.

7

##### lambda 함수의 응용

In [98]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [ ]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    # print(a)

vartest(a)
print(a)

1

In [107]:
# function_test.py

# scope_test()
x = 5

def scope_test():
    print(x)
    print(x+5)
     #x += 5

scope_test()

5
10

In [109]:
# function_test.py

# scope_test()
x = 5

def scope_test():
    print(x)
    print(x+5)
    x += 5       # x = x+5
                 # 함수 안에서 정의한 변수는 지역 변수가 됩니다. 그러므로 함수 밖에서 정의된 전역 변수 x = 5는 지역 변수 x에 들어가지 않고, 지역 변수의 값이 지정이 되어 있지 않으므로 에러가 뜹니다.
                 # UnboundLocalError: local variable 'x' referenced before assignment
scope_test()
print(x)

UnboundLocalError: ignored

In [ ]:
# 위에 코드 수정하기

In [111]:
# scope_test()

# *args : multiple parameters


def args_test(*args):    # 함수의 매개변수는 튜플형입니다.
    print(type(args))    
    print(args)
    for arg in args:     # 튜플 안에 있는 변수를 각각 "arg"로 지정한 뒤 순서대로 출력합니다.
        print(arg)

# args_test(1, 2, 3, 4)
# args_test(list(range(4)))

In [112]:
 args_test(1, 2, 3, 4)

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4

In [114]:
 args_test(list(range(4)))

<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [116]:
# **kawargs : keyword arguments


def kwarg_test(**kwargs):       # **kwarg처럼 매개변수 앞에 **를 붙이면 매개변수 kwargs는 딕셔너리가 되고 모든 key = value 형태의 결과값이 그 딕셔너리에 저장이 됩니다.
    print(type(kwargs))         # kwargs의 type은 딕셔너리가 됩니다.
    print(kwargs)
    for item in kwargs.items():  
        print(item)

kwarg_test(a=1, b='hi')
# kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

In [122]:
# code 1
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

def average_class(A):
  result = 0
  for i in A:
    result = result + i
  return result

result = average_class(A)
print("A학급의 평균 점수는 %.2f점 입니다." %(result/(len(A))))

A학급의 평균 점수는 79.00점 입니다.

In [128]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

def average_class(A):
  sum = A
  average = sum(A)/len(A)

print("A학급의 평균 점수= {0}" .format(sum(A)/len(A)))

A학급의 평균 점수= 79.0