# ch2-note7-bool.ipynb by PB11

## 불: 불 자료형이란?
- 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.
- 불 자료형은 다음 2가지 값을 가질 수 있다.
- 1. True - 참
- 2. False - 거짓
- True나 False는 파이썬의 예약어로 true, false와 같이 사용하지 말고 첫 문자를 항상 대문자로 사용해야 한다.

In [1]:
a = True           # 동격 데이터형
b = False          
print(type(a), type(b))

<class 'bool'> <class 'bool'>

### 참과 거짓

In [2]:
# 참과 거짓

print(1 == 1)      # 1과 1은 같다.  ->  True
print(2 > 1)       # 2는 1보다 크다.  ->  True
print(2 < 1)       # 2는 1보다 작다.  ->  False
print(True + 1)    # True을 값으로 쓸 때에는 1이라는 값이 들어갑니다. 
print(False + 1)   # False를 값으로 쓸 떄에는 0이라는 값이 들어갑니다.

True
True
False
2
1

In [3]:
# 자료형의 참과 거짓

print(bool("python"))     
# "" 안에 python이라는 문자열이 알맞은 형태로 들어가 있기 때문에 True

print(bool(""))
# "" 안에 아무것도 안들어있기 때문에 False

print(" ")
# 하지만 " "은 공백도 문자열로 포함하기 때문에 True가 뜹니다.

print(bool( [1, 2, 3] ))
# list안에 데이터가 들어있기 때문에 True

print(bool( [2, 3] ))
# list안에 데이터가 들어있기 때문에 True

print(bool( [] ))
# list안에 데이터가 들어있지 않기 때문에 False

print(bool( () ))
# bool안에 데이터가 들어있지 않기 때문에 False

print(bool( {} ))
# 아무 값이 없는 set이나 딕셔너리도 False

print(bool(1))
# 1은 True이기 때문에 True를 출력

print(bool(0))
# 0은 False이기 때문에 False를 출력

print(bool(None))
# None은 아무것도 없는 것을 나타내기 때문에 False

True
False

True
True
False
False
False
True
False
False

### 불 값을 이용한 코드

In [1]:
a = [1, 2, 3, 4]
print(bool(a))

while a:              # while a가 False가 될 때까지 반복
    print(a.pop())    # pop() 함수: 맨 마지막 요소를 하나씩 빼는 함수

if []:
    print("참")       
else:
    print("거짓")

True
4
3
2
1
거짓

### floating-point error

In [5]:
1-0.9   
# 1은 정수이고, 0.9는 실수라서 실수 계산이 적용됩니다.

0.09999999999999998

In [7]:
1-0.9 == 0.1

False

### decimal 모듈

In [10]:
import decimal
x = decimal.Decimal(3.14)
y = decimal.Decimal(2.74)
x,y

(Decimal('3.140000000000000124344978758017532527446746826171875'),
 Decimal('2.7400000000000002131628207280300557613372802734375'))

In [11]:
import decimal
x = decimal.Decimal(3.14)
y = decimal.Decimal(2.74)

x*y    # 실제로는 8.6

Decimal('8.603600000000001010036498883')

In [12]:
# 위처럼 실수 계산에서 오류가 발생할 수 있습니다.
# 오류를 해결하기 위해서 decimal.getcontext()를 사용합니다.

import decimal
x = decimal.Decimal(3.14)
y = decimal.Decimal(2.74)

decimal.getcontext().prec=4     
# 소수점 넷째자리까지 계산을 하고 다섯번째 자리에서 반올림해서 값을 구할 수 있습니다. 

x*y

Decimal('8.604')