## ch2-exercises-id.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

### 평균 점수
- 1. 과목 점수별로 변수를 지정해줍니다.
- 2. 모든 변수를 더한 값을 과목 갯수만큼 나누어 준 값을 출력합니다.

In [1]:
# [Q1] Code
a = 80                # a 변수에는 80을 넣어줍니다.
b = 75                # b 변수에는 75를 넣어줍니다.
c = 55                # c 변수에는 55를 넣어줍니다. 
print((a+b+c)/3)      # a, b, c를 모두 더한 값에 3을 나눈 값을 출력합니다. (나누기 연산자: /)

70.0

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [3]:
# [Q2] Code
# 1. 판별 기준 : 홀수: True , 짝수: False
# 어떠한 수를 2로 나누었을 때 나머지가 1이면 홀수(True), 0이면 짝수(False)로 지정합니다.
a = 13/2
bool(a)

True

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [17]:
# [Q3] Code
a = "881120-1068234"
a[0:6], a[7:]

('881120', '1068234')

### 주민등록 번호에서 연월일에 해당하는 부분은 '881120'으로 슬라이싱을 하면 인덱싱 0부터 6까지 이고, 그 뒤에 숫자 부분에 해당하는 부분은 '1068234'로 슬라이싱을 하면 인덱싱 7부터 제일 마지막 숫자까지 입니다.

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [2]:
# [Q4] Code
pin = "881120-1068234"
f"성별을 나타내는 숫자는 {pin[7]}입니다."

'성별을 나타내는 숫자는 1입니다.'

In [3]:
# [Q4] Code
pin = "881120-1068234"
number = pin[7]
f"성별을 나타내는 숫자는 {number}입니다."

'성별을 나타내는 숫자는 1입니다.'

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

### '#'도 하나의 문자열이기 때문에 문자열을 바꿀 때 사용하는 replace()함수를 사용해서 '#'을 ':'으로 바꾸어줍니다.

In [6]:
# [Q5] Code
a= "a#b#c#d"
a.replace("#", ":")

'a:b:c:d'

## Q6.
> \[1, 3, 5, 4, 2\] 리스트를 \[5, 4, 3, 2, 1\]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [1]:
# [Q6] Code
a = [1, 3, 5, 4, 2]

a.sort()               
# a 변수 안에 데이터를 sort()함수를 사용하여 오름차순으로 정리를 해줍니다. 

a.reverse()           
# 결과에 [5, 4, 3, 2, 1]로 출력을 해야 하기 때문에 리스트를 뒤집는 함수인 revers()함수를 사용하여 리스트를 뒤집어줍니다. 

print(a)

[5, 4, 3, 2, 1]

## Q7.
> \['Life', 'is', 'too', 'short'\] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

### 리스트를 문자열로 만들어 주는 함수인 "".join() 함수를 사용하여 리스트를 문자열로 만들어 출력할 수 있습니다.
- "" 사이에 공백을 넣지 않으면 ['Life', 'is', 'too', 'short']가 공백없이 붙어서 문자열로 만들어집니다.
- " " 사이에 공백을 넣으면 공백이 생기면서 띄어쓰기가 된 상태로 결과가 출력이 됩니다.

### "" 사이에 공백 X

In [2]:
# [Q7] Code
"".join(['Life', 'is', 'too', 'short'])

'Lifeistooshort'

### " " 사이에 공백 O

In [3]:
# [Q7] Code
" ".join(['Life', 'is', 'too', 'short'])

'Life is too short'

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

### 튜플에 값을 추가하는 방법
- 먼저 t1 = (1, 2, 3), t2 = (4,)로 지정해줍니다.
- 그 다음에는 두 가지 방법이 있습니다.
- 1) t1과 t2를 더하기(+)를 이용하여 더하는 방법
- 2) 튜플에 슬라이싱을 적용하여 슬라이싱의 값을 더하는 방법

### 첫번째 방법에는 튜플끼리 더하는 방법이 있습니다.

In [4]:
# [Q8] Code
t1 = (1, 2, 3)
t2 = (4,)
print(t1 + t2)

(1, 2, 3, 4)

### 두번째 방법에는 튜플에서 슬라이싱을 하여 더하는 방법이 있습니다.

In [3]:
# [Q8] Code
t1 = (1, 2, 3)
t2 = (4,)
print(t1[0:4] + t2[0:])

(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a\['name'\] = 'python'
2. a\[('a',)\] = 'python'
3. a\[\[1\]\] = 'python'
4. a\[250\] = 'python'

### 딕셔너리 안에는 변경이 불가능한 자료형만 들어갈 수 있습니다.

In [ ]:
 # [Q9] Code & explanation
 a[[1]]에서 오류가 발생합니다.
 그 이유는 딕셔너리 안에는 변경이 불가능한 자료형만 들어갈 수 있는데 list는 가변형 자료형이기 때문입니다.

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

###  pop()함수 안에 딕셔너리의 key 값에 해당하는 값을 넣으면 key 값의 value값이 출력이 됩니다.

In [12]:
# [Q10] Code
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))

80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = \[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5\]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

### 집합 자료형인 set은 요솟값이 중복되면 중복된 값을 하나만 출력을 합니다.

In [15]:
# [Q11] Code

a = set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])
print(a)

{1, 2, 3, 4, 5}

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = \[1, 2, 3\]  
>> a\[1\] = 4  
>> print(b)

### a 와 b가 같다(a = b)고 하면, a와 b의 주소는 같기 때문에 a의 첫번째 요소 값이 4로 달라지면 b의 첫번째 요소 값도 4로 달라집니다.

In [16]:
# [Q12] Code & explanation

a = b =[1, 2, 3]
a[1]=4
print(b)

[1, 4, 3]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. **github repo의 ch2 폴더에 연습문제 풀이 노트를 올리시오.**
        - 제출노트: ch2-exercises-id.ipynb