# ch2_06_tuple.py by PB11
### 튜플: tuple 이란?
- 리스트는 []으로 둘러싸지만 튜플은 ()으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [2]:
even = (2, 4, 6, 8)
print(even)

print(type(even))       
# even은 'touple'이라는 클래스의 객체라는 것을 알 수 있습니다.


# 소괄호() 없이 데이터를 , 로 구분하여 나열해도 콤마(,)로 구분된 데이터 구조는 자동으로 튜플로 처리됩니다.
even = 2, 4, 6, 8      
print(even)         #출력하면 even은 튜플 변수라는 것을 확인 가능

(2, 4, 6, 8)
<class 'tuple'>
(2, 4, 6, 8)

### 여러 가지 튜플

In [1]:
# 여러 가지 튜플

t1 = ()           #튜플 초기화
print(t1)         #튜플 구조로 저장
print(type(t1))   #t1은 튜플 클래스의 객체


t2 = (1,)         
print(t2)          #튜플 구조로 저장
print(type(t2))    # t2는 튜플 클래스의 객체
#튜플은 한 개의 요소를 가질 때도 콤마(,)를 붙여야 합니다. 안 붙이면 1은 정수 클래스의 객체라고 결과가 나옵니다.


t3 = (1, 2, 3)      
print(t3)           #튜플 구조로 저장
print(type(t3))     #t3는 튜플 클래스의 객체


t4 = 1, 2, 3       # 소괄호가 없어도 상관없습니다. 
print(t4)          #튜플 구조로 저장
print(type(t4))    #t4는 튜플 클래스의 객체


t5 = ("a", "b", ("ab", "cd"))    #튜플도 이중 튜플, 삼중 튜플, 4차원 튜플로 확장 가능
print(t5)            #튜플 구조로 저장
print(type(t5))      #t5는 튜플 클래스의 객체

()
<class 'tuple'>
(1,)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
('a', 'b', ('ab', 'cd'))
<class 'tuple'>

- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 튜플로 지정이 됩니다.
- t4 = 1, 2, 3처럼 괄호()를 생략해도 무방하다.

### 튜플의 요소값을 변경하려 할 때

In [2]:
# 1. 튜플의 요소값을 삭제하려 할 때

t1 = (1, 2, "a", "b")
del t1[0]            

# 튜플은 불변형 데이터 구조이기 때문에 특정한 값을 삭제할 수 없으므로 Error가 뜹니다.

TypeError: 'tuple' object doesn't support item deletion

In [3]:
# 2. 튜플 요솟값을 변경하려 할 때

t1[0] = "c"
print(t1)

# 튜플은 불변형 데이터 구조이기 때문에 특정한 값을 변경할 수 없으므로 Error가 뜹니다.

TypeError: 'tuple' object does not support item assignment

## 튜플 사용법

In [6]:
# 인덱싱하기
#튜플도 리스트와 같이 여러 가지 형태의 데이터 타입으로 튜플을 정의할 수 있습니다.

t1 = (1, 2, "a", "b")
print(t1[0])      #0번째 요소인 1을 출력
print(t1[3])      #3번째 요소인 문자열 b를 출력

1
b

In [7]:
# 슬라이싱하기

t1 = (1, 2, "a", "b")
print(t1[1:])      #1번째 요소부터 맨 마지막 요소까지 출력
                   #t1[1:] = (2, 'a', 'b') 출력 확인 가능 

print(t1[2:-1])    #2번째 요소부터 맨 마지막 요소 앞("a")까지 출력
                #주의!! 한 개의 요소를 가지기 때문에 ("a",)를 출력
                   #t1[2:-1] = ('a',) 출력 확인 가능

print(t1[2:])      #2번째 요소부터 맨 마지막 요소까지 출력
                   #t1[2:] = ('a', 'b') 출력 확인 가능

(2, 'a', 'b')
('a',)
('a', 'b')

In [8]:
# 튜플 더하기
t1 = (1, 2, "a", "b")
t2 = (3, 4)
print(t1 + t2)    # 튜플이 확장이 됩니다.

(1, 2, 'a', 'b', 3, 4)

In [4]:
# 튜플 곱하기
#id() 함수는 특정 변수의 메모리 상에서의 주소를 가져오는 역할을 합니다. 
t2 = (3, 4)
print(id(t2))       #t2의 주소를 확인 가능          

t2 * 3
print(id(t2))       #앞의 t2의 주소와 똑같은 주소 -> 주소가 변하지 않음 
print(t2*3)         #t2를 3번 곱한 결과가 출력  
                    #(3, 4, 3, 4, 3, 4)


t2 = t2 * 3         #t2에 t2*3을 대입
print(id(t2))       #새로운 메모리에 새로운 변수 t2가 저장이 되기 때문에 앞의 t2의 주소와 달라집니다.
print(t2)           #t2안에는 t2를 3번 곱한 값이 들어가 있습니다. 
                    #(3, 4, 3, 4, 3, 4)

2434575815040
2434575815040
(3, 4, 3, 4, 3, 4)
2434579368832
(3, 4, 3, 4, 3, 4)

In [11]:
# 튜플 길이 구하기 -> len()함수 이용
# 튜플의 길이를 구하는 것 = 리스트의 길이 구하기 

t1 = (1, 2, "a", "b")
len(t1)

4