<a href="https://colab.research.google.com/github/jungsh210/PB11/blob/main/ch8/ch8_exercises_PB11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.PB11

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a = "a:b:c:d"
b= a.split(":")
c = "#".join(b)

print(b)
print(c)

['a', 'b', 'c', 'd']
a#b#c#d

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"
colon_str = ":"
b = a.split(colon_str)
sharp = "#"

print(b)
sharp.join(b)

['a', 'b', 'c', 'd']

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
# 딕셔너리 쌍 추가

a = {'A' : 90, 'B' : 80}
a ['C'] = 70

print(a['C'])
print(a)

70
{'A': 90, 'B': 80, 'C': 70}

In [ ]:
# [Q2] Code-2
# get() 함수를 이용하여 default 값을 돌려주기

a = {'A': 90, 'B': 80}

print(a.get('C',70))
print(a)

70
{'A': 90, 'B': 80}

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)

In [ ]:
리스트 a에 + 기호를 사용하는 경우에 대해서 먼저 살펴보자.

In [ ]:
# a 리스트 생성

a = [1, 2, 3]
id(a)

# id() 함수는 입력으로 받은 리스트 a의 주소 값을 돌려 준다. 현재 a라는 리스트는 140237960071360이라는 주소에 저장

140237960071360

In [ ]:
# + 기호를 사용하여 [4,5]를 더하기

a = a + [4,5]
print(a)        # 기존의 a 리스트에 [4,5]가 더해진 것을 확인 가능
print(id(a))    # 기존 a 리스트의 주소값과 달라진 것을 확인 가능  ----> 주소 값이 다르기 때문에 기존의 a 리스트가 아닌 새로운 리스트가 반환된다는 것을 알 수 있음

[1, 2, 3, 4, 5]
140237960946864

In [ ]:
# a 리스트 생성

a = [1,2,3]
print(id(a))
# id() 함수는 입력으로 받은 리스트 a의 주소 값을 돌려 준다. 현재 a라는 리스트는 140237961407456이라는 주소에 저장

140237961407456

In [ ]:
# extend() 함수 사용

a.extend([4,5]) 
print(a)             # 기존의 a 리스트에 [4,5]가 더해진 것을 확인 가능
print(id(a))         # 기존의 a 리스트의 주소 값과 동일한 것을 확인 가능 ----> + 기호를 사용하여 더한 경우와 달리 주소 값이 변하지 않고 그대로 유지

[1, 2, 3, 4, 5]
140237961407456

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
total = 0

for a in A:
    if a >= 50:
        total = total + a

print(total)

481

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

result = 0
while A:               
    mark = A.pop()      # A리스트의 가장 마지막 항목을 하나씩 뽑아냄
    if mark >= 50:      # 50점 이상의 점수만 더함
        result += mark

print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
# 1부터 10까지 피보나치 수열의 결과값 확인

def fib(n):
    if n == 0 : return 0          # n이 0일 때는 0을 반환
    if n == 1 : return 1          # n이 1일 때는 1을 반환
    return fib(n-2) + fib(n-1)    # n이 2 이상일 때는 그 이전의 두 값을 더하여 반환

for i in range(1,11):
    print(i,fib(i))

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55

In [ ]:
# [Q5] Code-2
def fib(n):
    a,b = 1,1
    if n==1 or n==2:
        return 1
        
    for i in range(1,n):
        a,b = b, a+b

    return a

[ fib(x) for x in range(1,10)]

[1, 1, 2, 3, 5, 8, 13, 21, 34]

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요: ")
numbers = user_input.split(",")
total = 0
for n in numbers:
    total += int(n)    # 입력은 문자열이므로 숫자로 변환해야 한다.
print(total)

숫자를 입력하세요: 65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-2
number_input = input("숫자를 입력하세요: ")
numbers = number_input.split(",")

def sum_number(numbers,total=0):
    for num in numbers:
      total += int(num)
    return total

print(sum_number(numbers))

숫자를 입력하세요: 65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-3
# 사용자의 입력 여부를 확인하는 코드

if __name__ == "__main__" :

  Answer = 'yes'
  total = 0

  while Answer:
    num = int(input("\n숫자를 입력하세요 : "))
    total = total + num

    Answer = str(input("계속? (yes/no) : "))

    while (Answer not in ['yes', 'no']):
      print("[Error] 'yes' or 'no'로 입력해 주세요")

    if Answer == 'no':
      break

  print("\n총합 : ", total)

숫자를 입력하세요 : 65
계속? (yes/no) : yes

숫자를 입력하세요 : 45
계속? (yes/no) : yes

숫자를 입력하세요 : 2
계속? (yes/no) : yes

숫자를 입력하세요 : 3
계속? (yes/no) : yes

숫자를 입력하세요 : 45
계속? (yes/no) : yes

숫자를 입력하세요 : 8
계속? (yes/no) : no

총합 :  168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
if __name__ == "__main__":
  num = int(input("구구단을 출력할 숫자를 입력하세요(2~9) : "))

  while (num <2 or num > 9) :
    print("잘못 입력되었습니다.")
    num = int(input("구구단을 출력할 숫자를 다시 입력하세요(2~9) : "))

  for i in range(1, 10):
    print(num*i, end=' ')

구구단을 출력할 숫자를 입력하세요(2~9) : 2
2 4 6 8 10 12 14 16 18

In [ ]:
# [Q7] Code-3
GuGuDan_input = input("구구단을 출력할 숫자를 입력하세요(2~9) : ")

dan = int(GuGuDan_input)

for i in range(1, 10):
    print(i*dan, end= ' ')

구구단을 출력할 숫자를 입력하세요(2~9) : 9
9 18 27 36 45 54 63 72 81

In [ ]:
# [Q7] Code-2
num = int(input("구구단을 출력할 숫자를 입력하세요(2~9)")) 
print([(lambda x,y : '{}x{}={}'.format(num, y, num*y))(num, y) for y in range(1,10)])

구구단을 출력할 숫자를 입력하세요(2~9)2
['2x1=2', '2x2=4', '2x3=6', '2x4=8', '2x5=10', '2x6=12', '2x7=14', '2x8=16', '2x9=18']

In [ ]:
# [Q7] Code-2 (2단 외의 다른 단 출력)
num = int(input("구구단을 출력할 숫자를 입력하세요(2~9)")) 
print([(lambda x,y : '{}x{}={}'.format(num, y, num*y))(num, y) for y in range(1,10)])

구구단을 출력할 숫자를 입력하세요(2~9)3
['3x1=3', '3x2=6', '3x3=9', '3x4=12', '3x5=15', '3x6=18', '3x7=21', '3x8=24', '3x9=27']

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
f = open("abc.txt", 'r')
line = f.read()
print(line)       # AAA BBB CCC DDD EEE 순으로 파일에 입력되어있는 것을 확인 가능
f.close()

AAA
BBB
CCC
DDD
EEE

In [ ]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()    # 모든 라인을 읽음
f.close()

lines.reverse()          # 읽은 라인을 역순으로 정렬

f = open('abc.txt', 'w')
for line in lines:
    line = line.strip()  # 포함되어 있는 줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')        # 줄 바꿈 문자 삽입
f.close()

In [ ]:
f = open("abc.txt",'r')
line=f.read()
print(line)      # 파일 안 내용이 역순으로 입력되어 있는 것을 확인 가능
f.close()

EEE
DDD
CCC
BBB
AAA

In [ ]:
# [Q8] Code-2
f = open("abc.txt", 'r')
lines = f.readlines()
f.close()

for line in reversed(open("abc.txt").readlines()) :
  print(line.rstrip())

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code-1
f = open("sample.txt")
lines = f.readlines()
f.close()

total = 0
for line in lines:
    score = int(line)  
    total += score
average = total / len(lines)
print("총합은 %d입니다." %total)
print("평균은 %.2f입니다." %average)

f = open("result.txt", "w")
f.write(str(average)) 
f.close()

f = open("result.txt", "r")
line = f.read()
print("평균값인 %s가 result.txt에 기록되었습니다." %average)
f.close()

총합은 790입니다.
평균은 79.00입니다.
평균값인 79.0가 result.txt에 기록되었습니다.

In [ ]:
# [Q2] Code-2
f = open("sample.txt")
lines = f.readlines()
f.close()

total = 0
for line in lines:
  score = int(line)
  total += score
average = total / len(lines)

print(total)
print(average)

f = open("result.txt", "w")
f.write(str(average))
f.close()

f = open("result.txt", 'r')
line = f.read()
print("평균값인 %s가 result.txt에 기록되었습니다." %line)
f.close()

790
79.0
평균값인 79.0가 result.txt에 기록되었습니다.

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1
class Calculator:
    def __init__ (self, numberList): 
        self.numberList = numberList
        
    def sum(self): 
        result = 0
        for num in self.numberList: 
            result += num
        return result

    def avg(self):
        total = self.sum()
        return total / len(self.numberList)

cal1 = Calculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = Calculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0

In [ ]:
# [Q10] Code-2
class Calculator:
    def __init__ (self, value): 
        self.value = value
        
    def sum(self): 
        result = 0
        for num in self.value: 
            result += num
        return result

class UpgradeCalculator(Calculator):
  def avg(self):
    total = self.sum()
    return total / len(self.value)

cal1 = UpgradeCalculator([1,2,3,4,5]) 
print (cal1.sum())
print (cal1.avg())

cal2 = UpgradeCalculator([6,7,8,9,10]) 
print (cal2.sum())
print (cal2.avg())

15
3.0
40
8.0

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

- 1. 현재 디렉터리를 doit으로 변경

In [ ]:
# [Q11] Code-1
import os
os.chdir("/content/doit")

- 2. from 모듈 import 변수남 함수 사용

In [ ]:
# [Q11] Code-2
from doit import mymod

- 3. sys 모듈 사용하기
> sys.path.append()를 사용하여 새로운 경로를 추가

In [ ]:
# [Q11] Code-3
import sys
sys.path.append("/content/doit")
import mymod

- 4. pwd 리눅스 명령어와 같은 결과

In [ ]:
# [Q11] Code-4
os.getcwd()
import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0
 
try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4
 
print(result)

7

### [Q12] Explain
- result의 초깃값은 0이다.
> result = 0
- try문 안의 [1,2,3][3]이라는 문장 수행시 IndexError가 발생하여 except IndexError: 구문으로 이동해서 result에 3이 더해져서 3이 됩니다.
> ```
try:
    [1, 2, 3][3]    ----> IndexError
    "a"+1
    4 / 0
```
- 최종적으로 finally 구문이 실행되면서 result에 4가 더해지고 최종 출력되는 수는 7이 됩니다.
> ``` 
finally:
    result += 4
```
- print(result)가 수행되면 result의 최종 값인 7이 출력됩니다.
> ```
print(result)
```

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [ ]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:                   # 다음 수가 있다면
        is_odd = num % 2 == 1                # 현재 수가 홀수
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수
        if is_odd and is_next_odd:           # 연속 홀수
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수
            result.append("*")

print("".join(result))

454*67-9-3

In [ ]:
# [Q13] Code-2
def dash_insert(list):
  new_list = ''
  for i in range(len(list)):
    if i>0:
      if int(list[i-1])%2 == 0 and int(list[i])%2 == 0:
              new_list += '*'
      if int(list[i-1])%2 == 1 and int(list[i])%2 == 1:
              new_list += '-'
    new_list += list[i]
  print(new_list)
# --------------------------------------------------------
list = '4546793'
dash_insert(list)

454*67-9-3

In [ ]:
# [Q13] Code-3
def dash_insert(s):
  result = ''
  for i in range(len(s)):
    result += s[i]
    if i != 0 and i < len(s) -1 :
      if int(s[i]) % 2 == 0 and int(s[i+1]) % 2 == 0:
        result += '*'
      elif int(s[i]) % 2 == 1 and int(s[i+1]) % 2 == 1:
        result += '-'
  return result

dash_insert('4546793')

'454*67-9-3'

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [191]:
# [Q14] Code-1
def compress_string(s):
    _c = ""
    cnt = 0
    result = ""
    for c in s:
        if c!=_c:
            _c = c
            if cnt: result += str(cnt)
            result += c
            cnt = 1
        else:
            cnt +=1
    if cnt: result += str(cnt)
    return result

print (compress_string("aaabbcccccca"))

a3b2c6a1

In [194]:
# [Q14] Code-2
s = 'aaabbcccccca'

result = s[0]  # 첫번째 값을 결과에 넣는다
count  = 0   #

for st in s:
    if st == result[-1]:  #
        count += 1
    else:
        result += str(count) + st
        count = 1
result += str(count)

print(result)

a3b2c6a1

In [195]:
# [Q14] Code-2에 input() 첨가

s = input("문자열을 입력하세요: ")

result = s[0]  # 첫번째 값을 결과에 넣는다
count  = 0   #

for st in s:
    if st == result[-1]:  #
        count += 1
    else:
        result += str(count) + st
        count = 1
result += str(count)

print(result)

문자열을 입력하세요: aaabbcccccca
a3b2c6a1

In [196]:
# [Q14] Code-3

S = "aaabbcccccca"
count = 1
blank_list = []

for i in range(len(S) - 1):
    if S[i] == S[i + 1]:
        count += 1
    elif S[i] != S[i + 1]:
        blank_list.append((count, S[i]))
        count = 1
    if i == len(S) - 2:
        blank_list.append((count, S[i + 1]))

answer = ""

for i in range(len(blank_list)):
    answer = answer + str(blank_list[i][1]) + str(blank_list[i][0])

print(answer)

a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [197]:
# [Q15] Code-1
def chkDupNum(s):
    result = []
    for num in s:
        if num not in result:
            result.append(num)
        else:
            return False
    return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))    # False 리턴

True
False
False
True
False

In [204]:
# [Q15] Code-2
def check_number(num):
    for i in range(10):
        if num.count(str(i)) != 1:
            print("False")
            return

    print("True")

check_number('0123456789')
check_number('01234')
check_number('01234567890')
check_number('6789012345')
check_number('012322456789')

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [209]:
# [Q16] Code-1
Mos = {'.-': 'A', '-...': 'B', '-.-.': 'C', '-..': 'D', '.': 'E', 
'..-.': 'F', '--.': 'G', '....': 'H', '..': 'I', '.---': 'J', 
'-.-': 'K', '.-..': 'L', '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P',
 '--.-': 'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W',
 '-..-':'X','-.--':'Y','--..':'Z'}

mos = '.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'
word = mos.split('  ')

decode = ''

for text in word :
    t = text.split()
    for i in t:
        decode += Mos[i]
    decode += ' '
print(decode)

HE SLEEPS EARLY

In [210]:
# [Q16] Code-2
Mos = {'':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X','-.--':'Y','--..':'Z'}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(Mos[i],end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb